@textWidth: 800px;

//OVERRIDE EDIT PADDING
body.sqs-edit-mode .sqs-layout.sqs-editing {
    padding: 0 30px !important;
}

body {
	overflow-x: hidden !important;
}

//OVERRIDE FOLDER NAV
#folderNav {
	display: none !important;
}
.collection-type-page:not(.hide-page-sidebar) #folderNav+#content, .collection-type-products:not(.hide-products-sidebar) #folderNav+#content, .collection-type-page:not(.hide-page-sidebar) #categoryNav+#content, .collection-type-products:not(.hide-products-sidebar) #categoryNav+#content {
	width: 100% !important;
}

#headerNav nav .subnav, #sidecarNav nav .subnav {
	div:first-child {
		display: none;
	}
}

// OVERRIDE CLIENT LOGOS ISSUES
#block-yui_3_17_2_1_1460456234362_55577.gallery-block {
  img {
    max-width: 300px;
    height: auto;
  }
}

// OVERRIDE MID PAGE GALLERY HEIGHT
#content .sqs-row .sqs-block-gallery .sqs-gallery-block-slideshow .sqs-gallery-design-stacked {
	max-height: 300px !important;
	
	.meta {
		max-width: 100% !important; 
    top: 0;
    left: 0;
    text-align: center;
    height: 100% !important;
    width: 100%;
		margin: 0 !important;
		display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
		
		.meta-title {
    	font-size: 42px !important;
		}
	}
}

// OVERRIDE GALLERY CONTROLS 
.sqs-gallery-controls .next:before, .sqs-gallery-controls .previous:before {
    color: #c1d72e !important;
    font-weight: 900 !important;;
}

// OVERRIDE TEXT LINKS
.html-block a:not(.sqs-block-button-element), .markdown-block a:not(.sqs-block-button-element), .entry-more-link a:not(.sqs-block-button-element), .twitter-block a:not(.sqs-block-button-element), .foursquare-block a:not(.sqs-block-button-element), .rss-block a:not(.sqs-block-button-element), .layout-caption-below .image-caption a:not(.sqs-block-button-element), .summary-excerpt a:not(.sqs-block-button-element), .album-description a:not(.sqs-block-button-element), .product-excerpt a:not(.sqs-block-button-element), .product-description a:not(.sqs-block-button-element), .eventlist-excerpt a:not(.sqs-block-button-element), .p-summary a:not(.sqs-block-button-element), .html-block a:not(.sqs-block-button-element):visited, .markdown-block a:not(.sqs-block-button-element):visited, .entry-more-link a:not(.sqs-block-button-element):visited, .twitter-block a:not(.sqs-block-button-element):visited, .foursquare-block a:not(.sqs-block-button-element):visited, .rss-block a:not(.sqs-block-button-element):visited, .layout-caption-below .image-caption a:not(.sqs-block-button-element):visited, .summary-excerpt a:not(.sqs-block-button-element):visited, .album-description a:not(.sqs-block-button-element):visited, .product-excerpt a:not(.sqs-block-button-element):visited, .product-description a:not(.sqs-block-button-element):visited, .eventlist-excerpt a:not(.sqs-block-button-element):visited, .p-summary a:not(.sqs-block-button-element):visited {
    text-decoration: none;
    font-weight: 600;
}

// OVERRIDE FIRST GALLERY PADDING
.sqs-layout:not(.sqs-editing) .sqs-row .sqs-block:not(.float):first-child {
    padding-top: 30px !important;
}

// LIST STYLES
ul {
    //list-style-image: url('/assets/bullet2.png');
}

// BUTTON STYLES
a.btn {
	display: block;
	border: 2px solid #181818;
	color: #181818;
	padding: 8px;
	margin: 0 auto;
	max-width: 200px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	border-radius: 300px;
	transition: all ease 0.3s;
	
	&:hover {
		background-color: #181818;
		color: white;
	}
}

// QUOTE STYLES

blockquote, .quote-block blockquote, .sqs-block-quote blockquote {
	margin: 20px auto;
	padding: .5em 0;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 1.4em;
	quotes: "\201C""\201D""\2018""\2019";
	border-left-width: 10px;
	font-family: "omnes-pro";
	width: 100%;
	max-width: 800px;
	color: rgba(26,26,26,.7);
}

.quote-block blockquote, .sqs-block-quote blockquote {
	padding: 0 !important;
}

.quote-block, .sqs-block-quote {
	.source {
		font-family: "omnes-pro";
	}
	
	figure {
		padding-bottom: @sitePadding;
	}
}

blockquote::before, .quote-block blockquote::before, .sqs-block-quote blockquote::before {
  color: @color361;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote::after, .quote-block blockquote::after, .sqs-block-quote  blockquote::after {
  color: @color361;
  content: "\201D";
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}

.quote-block blockquote>span:first-child {
	display: none !important;
}

//FEEFO STYLEs
.feefo {
	padding: 50px 0 30px;
	margin-bottom: 50px;
	background-color: rgba(26,26,26,.7);
	color: white;
	
	blockquote {
		padding: 0;
		border-left: none;
		color: white;
	}
	
	h2 {
		margin-bottom: 5px !important;
		color: white;
		&:after {
			border-bottom: none !important;
		}
	}
	
	h4 {
		font-size: 15px;
    text-align: center;
		color: white;
		font-weight: 400;
	}
	img.feefo-logo {
		max-width: 250px;
	}
}


// CONTENT STYLES

#latest_news {
	
	padding: 0 32px;
	margin: 10px 0 50px;
	
	h2 {
		text-align: center;
		font-family: "omnes-pro";
		font-size: 1.8em;
		margin: 0 auto 40px;
		font-weight: 500;
		position: relative;

		
		&:after {
			content: '';
			height: 5px;
			width: 30%;
			border-bottom: 5px solid @color361;
			position: absolute;
			bottom: -15px;
			left: 35%;
		}
	}
}

#content, .full-form {
	h2 {
		text-align: center;
    font-family: "omnes-pro";
    font-size: 1.8em;
    margin: 50px auto 40px;
    font-weight: 500;
		position: relative;

		
		&:after {
			content: '';
			height: 5px;
			width: 30%;
			border-bottom: 5px solid @color361;
			position: absolute;
			bottom: -15px;
			left: 35%;
		}
	}
	
	h3 {
		font-size: 23px;
    border-bottom: 3px solid rgba(26,26,26,.7);
    padding-bottom: 10px;
    width: 80%;
		color: @color361;
		margin-top: 50px;
		
		&:nth-of-type(even) {
    	position: relative;
			margin-left: 20%;
			text-align: right;
		}
	}
	
	.sqs-block-html {
		max-width: @textWidth;
		margin: 0 auto;
	}
}

.full-form {
	h2 {
		margin-top: 0;
	}
}

body.collection-type-video {
	#thumbnail {
		> img {
			visibility: hidden;
		}
	}
}

.video-item {
	margin: 0 -32px;
	text-align: center;
	> iframe,
	> video {
		margin: auto;
		max-width: 100%;
		max-height: 55vw;
	}
}

.blog-item {
	.transition(all ease 0.6s);
	
	&.preview {
		position: relative;
		height: 500px;
		overflow: hidden;
		&:after {
			content: "Read more";
			font-weight: 600;
			text-decoration: underline;
			text-align: center;
			cursor: pointer;
			display: block;
			position: absolute;
			padding-top: 6em;
			// height: 4em;
			width: 100%;
			background: rgba(255, 255, 255, .5);
			background: linear-gradient(rgba(255, 255, 255, 0), white);
			bottom: 0;
		}
	}
}


#page.case-study {
	padding: 0 32px;
	.sqs-block-html {
		max-width: @textWidth;
		margin: 0 auto;
	}
}

.sqs-block-summary-v2 .summary-block-setting-design-carousel .summary-block-header {
    height: 0 !important;
}

.sqs-block-summary-v2 .summary-block-collection-type-blog, .sqs-block-summary-v2 .summary-block-collection-type-case-study {
	.summary-item {
		padding: 0;
		cursor: pointer;
		position: relative;
		&:hover {
			.summary-read-more-link:after {
				border-bottom-color: white;
			}
			.summary-content,
			.summary-metadata-item,
			.summary-title a,
			.summary-read-more-link:after {
				color: white;
				opacity: 1;
			}
			.summary-content {
				.summary-title {
					padding-top: 0;
					opacity: 1;
				}
			}
		}
	}
	.summary-thumbnail-container {
		display: block;
		margin: 0 !important;
	}
	.summary-content {
		text-align: center;
		height: 100%;
		position: absolute;
		top: 0;
		background-color: rgba(0,0,0,.5);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width:  ~"calc(100% - 18px)";
    padding: 0 20px;
		.summary-title {
			font-size: 24px;
			font-weight: 100;
			padding-top: 1em;
			opacity: 0;
			transition: ease all .6s;
			position: relative;
			text-align: center;
		}
	}
	.summary-metadata-item {
		font-size: 11px;
		font-weight: 600;
		text-transform: uppercase;
	}
	.summary-title {
		font-size: 24px;
		font-weight: 100;
		padding-top: 1em;
	}
	.summary-read-more-link:after {
		content: 'Read More';
		font-weight: 400;
		color: #8a959e;
		font-size: 15px;
		border-bottom: solid 1px #8a959e;
		letter-spacing: 1px;
		padding-bottom: 2px;
	}
	.summary-item-record-type-text .summary-read-more-link {
		position: absolute;
		bottom: 0;
	}
}

.summary-block-collection-type-selling-point {
	margin-top: 2em;
	.summary-thumbnail-container {
		min-height: 4em;
		text-align: center;
		img.summary-thumbnail-image {
			max-width: 4em;
			margin: auto;
		}
	}
	a.summary-thumbnail-container,
	.summary-title > a {
		pointer-events: none;
	}
}

body:not(.collection-type-gallery).banner-button-corner-style-pill .desc-wrapper p:last-child>a, body:not(.collection-type-gallery).banner-button-corner-style-pill.has-promoted-gallery #promotedGalleryWrapper .sqs-gallery-block-slideshow .meta-description p:last-child>a, body:not(.collection-type-gallery).banner-button-corner-style-pill.has-promoted-gallery .promoted-gallery-wrapper .sqs-gallery-block-slideshow .meta-description p:last-child>a {
	border: 2px solid @color361;
	background-color: transparent !important;
	&:hover {
		background-color: @color361 !important;
	}
}


body.homepage.collection-type-page.has-promoted-gallery.transparent-header {
	
	#page {
		padding: 32px 0 !important;
	}
	
	#promotedGalleryWrapper {
		.sqs-gallery-block-slideshow,
		.sqs-gallery-block-slideshow > .sqs-gallery {
			// height: inherit !important;
		}
	}
	.sqs-block-gallery {
		h1 {
			color: inherit;
		}
	}
	
	.sqs-block.vsize-10 .sqs-block-content {
    height: 235px !important;
	}
	
	.sqs-gallery-block-grid.sqs-gallery-block-meta-only-title .margin-wrapper .image-slide-title {
    font-size: 18px !important;
	}
	
	.sqs-block-code {
		overflow: auto;
	}
	
	.meta .meta-title {
		display: block !important;
		font-size: 48px !important;
		font-weight: 500 !important;
		max-width: 800px;
		width: 100% important;
		margin: 0 auto !important;
		font-family: "ff-basic-gothic-web-pro" !important;
	}
	
	.meta .meta-description p {
		font-family: "ff-basic-gothic-web-pro" !important;
	}
	.summary-block-setting-show-excerpt {
		width: 100% !important;
		max-width: 1200px !important;
		margin: 0 auto !important;
		
		.summary-thumbnail-container {
			min-height: 79px;
		}
	}
	.sqs-gallery-thumbnails-per-row-5.sqs-gallery-block-meta-only-title {
		width: 100% !important;
		max-width: 1200px !important;
		margin: 0 auto !important;
	}
	#content .sqs-block-html, .full-form .sqs-block-html {
    max-width: 1000px;
    margin: 0 auto;
	}
}

// FOOTER {
#footer {
	.logo {
		padding-top: 50px;
		text-align: center;
		 img {
			 width: 100%;
			 max-width: 600px;
		 }
	}
	
	#preFooterBlocks {
		padding: 0;
		
		.socialaccountlinks-v2-block {
			padding-top: 0 !important;
		}
	}
}

.collection-type-blog.view-list, .collection-case-study.view-list {
	#page {
		padding-top: 32px;
	}
}

// VIDEO 

.collection-type-video {
	.banner-thumbnail-wrapper {
		display: none;
	}
	
	#page {
    width: 100%;
    overflow: auto;
    background-color: black;
    padding-top: 86px;
	}
}

// CONTACT

.banner-thumbnail-wrapper.contact {
	.color-overlay.dark {
		background-color: rgba(0,0,0,.5) !important;
	}
	figure img {
		min-width: 100%;
	}
}