@textWidth: 800px;

#block-yui_3_17_2_1_1460456234362_55577.gallery-block {
  img {
    max-width: 300px;
    height: auto;
  }
}

body.collection-type-video {
	#thumbnail {
		> img {
			visibility: hidden;
		}
	}
}

.video-item {
	margin: 0 -32px;
	text-align: center;
	> iframe,
	> video {
		margin: auto;
		max-width: 100%;
		max-height: 55vw;
	}
}

#page.case-study {
	padding: 0 32px;
	.sqs-block-html {
		max-width: @textWidth;
		margin: 0 auto;
	}
}