.knowledge-hub-block {
	margin: 2em 0;
	> .blog-list {
		> li {
		}
	}
	> .case-study-list {
		> li {
		}
	}
	> .video-list {
		> li {
		}
	}
	> ol {
		margin: 0;
		padding: 0;
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: space-around;
		> li {
			display: block;
			width: 33.33%;
			height: 12em;
			overflow: hidden;
			background: #000;
			&:hover {
				h1 {
					top: 50%;
					padding-top: 0;
					opacity: 1;
				}
				img {
					opacity: .7;
				}
			}
			h1, img {
				transition: ease all .6s;
			}
			h1 {
				font-family: "proxima-nova";
				letter-spacing: .0666667em;
				text-transform: uppercase;
				font-weight: 700;
				color: #fff;
				font-size: 1.6em;
				z-index: 1;
				padding-top: 1em;
				opacity: 0;
				text-align: center;
				display: block;
				margin: 0;
			}
			img {
				min-width: 100%;
				min-height: 100%;
				width: auto;
				margin: auto;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				position: absolute;
			}
			> a {
				position: relative;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

@media (max-width: 40em) {
	.knowledge-hub-block {
		> ol {
			> li {
				width: 100%;
				float: none;
			}
		}
	}
}