.knowledge-hub-block {
	margin: 1em auto;
	padding: 1em 0;
	max-width: 1800px;
	> h1 {
		text-align: center;
	}
	> .blog-list {
		> li {
		}
	}
	> .case-study-list {
		> li {
		}
	}
	> .video-list {
		> li {
		}
	}
	> ol {
		margin: 0;
		padding: 0;
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: space-around;
		background: black;
		&.category-filter {
			background: black;
			> li {
				width: auto;
				height: auto;
				min-height: auto;
				margin: .5em .25em;
				> a {
					padding: .25em .5em;
					color: white;
					display: block;
					height: auto;
					&.active {
						color: black;
						background: white;
					}
				}
			}
		}
		> li {
			display: block;
			width: 33.33%;
			height: 12em;
			overflow: hidden;
			background: #000;
			min-height: 300px;
			&:hover {
				h1 {
					top: 50%;
					padding-top: 0;
					opacity: 1;
				}
				img, .background {
					opacity: .7;
				}
			}
			h1, img, .background {
				transition: ease all .6s;
			}
			h1 {
				font-family: "proxima-nova";
				letter-spacing: .0666667em;
				text-transform: uppercase;
				font-weight: 700;
				color: #fff;
				font-size: 1.6em;
				z-index: 1;
				padding: 1em .5em 0 .5em;
				opacity: 0;
				text-align: center;
				display: block;
				margin: 0;
			}
			.background {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				opacity: .7;
				background-size: cover;
				background-position: center center;
			}
			img {
				min-width: 100%;
				min-height: 100%;
				width: auto;
				margin: auto;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				position: absolute;
			}
			> a {
				position: relative;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-position: center center;
				background-size: cover;
			}
		}
	}
}

@media (min-width: 40em) and (max-width: 70em){
	.knowledge-hub-block {
		> ol {
			> li {
				width: 50%;
			}
		}
	}
}

@media (max-width: 40em) {
	.knowledge-hub-block {
		> ol {
			> li {
				width: 100%;
				float: none;
				
					h1 {
						top: 50%;
						padding-top: 0;
						opacity: 1;
					}
					img, .background {
						opacity: .7;
					}
			}
		}
	}
}