.knowledge-hub-block {
	> .blog-list {
		> li {
		}
	}
	> .case-study-list {
		> li {
		}
	}
	> .video-list {
		> li {
		}
	}
	> ol {
		margin: 0;
		display: block;
		clear: both;
		> li {
			position: relative;
			width: 33.33%;
			float: left;
			h1 {
				font-size: 2em;
			}
			img {
				width: 100%;
			}
			> a {
				display: block;
			}
		}
	}
}